<!-- templates/dashboard.html -->
{% extends "_dashboard_base.html" %}
<!-- Extend from a base template if you have one -->
{% block content_dashboard %}
    <!-- content -->
    <!-- header -->
    <header class="col-span-12 flex items-center gap-2 lg:gap-4">
        <label for="my-drawer"
               class="btn btn-square btn-ghost drawer-button lg:hidden">
            <svg data-src="https://unpkg.com/heroicons/20/solid/bars-3.svg"
                 class="h-5 w-5">
            </svg>
        </label>
        <div class="grow">
            <h1 class="lg:text-2xl lg:font-light">Dashboard</h1>
        </div>
        <div>
            <input type="text"
                   placeholder="Search"
                   class="input input-sm rounded-full max-sm:w-24" />
        </div>
        <!-- dropdown -->
        <div class="dropdown dropdown-end z-10">
            <div tabindex="0" class="btn btn-circle btn-ghost">
                <div class="indicator">
                    <span class="badge indicator-item badge-error badge-xs"></span>
                    <svg data-src="https://unpkg.com/heroicons/20/solid/bell.svg"
                         class="h-5 w-5">
                    </svg>
                </div>
            </div>
            <ul tabindex="0"
                class="menu dropdown-content mt-3 w-80 rounded-box bg-base-100 p-2 shadow-2xl">
                <li>
                    <a class="gap-4">
                        <div class="avatar">
                            <div class="w-8 rounded-full">
                                <img src="https://picsum.photos/80/80?1" />
                            </div>
                        </div>
                        <span>
                            <b>Opportunity Orbiter</b>
                            <br />
                            Willkommen auf Ihrem Dashboard
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- /dropdown -->
        <!-- dropdown -->
        <div class="dropdown-end dropdown z-10">
            <div tabindex="0" class="avatar btn btn-circle btn-ghost">
                <div class="w-10 rounded-full">
                    <img src="https://picsum.photos/80/80?5" />
                </div>
            </div>
            <ul tabindex="0"
                class="menu dropdown-content mt-3 w-52 rounded-box bg-base-100 p-2 shadow-2xl">
                <li>
                    <a>Profil</a>
                </li>
                <li>
                    <a>
                        Nachrichten
                        <span class="badge badge-success">12</span>
                    </a>
                </li>
                <li>
                    <a>Einstellungen</a>
                </li>
                <li>
                    <a>Ausloggen</a>
                </li>
            </ul>
        </div>
        <!-- /dropdown -->
    </header>
    <!-- header for django data -->
    <div class="col-span-12 flex items-center gap-2 lg:gap-4">
        <div class="grow">
            <form action="{% url 'dashboard:crawling' %}" method="post">
                {% csrf_token %}
                <button class="btn btn-primary" type="submit">Run Crawl</button>
            </form>
        </div>
    </div>
    <!-- stats -->
    <section class="stats stats-vertical col-span-12 w-full shadow-sm xl:stats-horizontal">
        <div class="stat">
            <div class="stat-title">Ausgewertete Firmen</div>
            <div class="stat-value">{{ total_count_companies }}</div>
            {% if percentage_difference_companies >= 0 %}
                <div class="stat-desc">↗︎ {{ percentage_difference_companies|floatformat:2 }}% ({{ last_month_total_companies }})</div>
            {% else %}
                <div class="stat-desc">↘︎ {{ percentage_difference_companies|floatformat:2 }}% ({{ last_month_total_companies }})</div>
            {% endif %}
        </div>
        <div class="stat">
            <div class="stat-title">Ausgewertete Jobanzeigen</div>
            <div class="stat-value">{{ total_count_jobs }}</div>
            {% if percentage_difference_jobs >= 0 %}
                <div class="stat-desc">↗︎ {{ percentage_difference_jobs|floatformat:2 }}% mehr als letzten Monat</div>
            {% else %}
                <div class="stat-desc">↘︎ {{ percentage_difference_jobs|floatformat:2 }}% weniger als letzten Monat</div>
            {% endif %}
        </div>
    </section>
    <!-- /stats -->
    <!-- card -->
    <section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-6">
        <div class="card-body grow-0">
            <h2 class="card-title">
                <a class="link-hover link" href="{% url 'dashboard:company-list' %}">Firmen</a>
            </h2>
        </div>
        <div class="overflow-x-auto">
            <table class="table table-zebra">
                <thead>
                    <tr>
                        <th>Unternehmen</th>
                        <th>Mitarbeiteranzahl</th>
                        <th>Letztes Crawling-Datum</th>
                        <th>Anzahl der Jobs</th>
                    </tr>
                </thead>
                <tbody>
                    {% for company in companies %}
                        <tr>
                            <td>
                                <a href="{% url 'dashboard:company-detail' company.id %}">{{ company.name }}</a>
                            </td>
                            <td class="{% if company.employee_count > 50 %}text-success{% else %}text-warning{% endif %}">
                                {{ company.employee_count|default:'N/A' }}
                            </td>
                            <td>{{ company.last_crawled_at|date:"d.m.Y H:i" }}</td>
                            <td>
                                <!-- Stellen Sie sicher, dass die Anzahl der Jobs richtig berechnet wird -->
                                {{ company.jobs_count }}
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4">Keine Unternehmen gefunden.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    <!-- /card -->
    <!-- card -->
    <section class="card col-span-12 bg-primary text-primary-content shadow-sm xl:col-span-6">
        <div class="card-body pb-0">
            <h2 class="card-title">{{ total_count_jobs }} Jobanzeigen</h2>
            <a class="link-hover link text-xs" href="{% url 'dashboard:job-list' %}">Alle Jobanzeigen ansehen →</a>
        </div>
        <tc-column class="h-full w-full p-4 pt-0 [--shape-color:oklch(var(--pc))]" values="{{ job_counts }}" min="0" shape-radius="4" shape-gap="4"></tc-column>
    </section>
    <!-- /card -->
    {% comment %} TODO <!-- card -->
                                                                                        <section class="card col-span-12 bg-base-100 shadow-sm xl:col-span-4">
                                                                                            <div class="card-body">
            <h2 class="card-title">Sources</h2>
            <div class="flex items-center gap-10">
                <div class="grow">
                    <div class="flex items-center gap-2">
                        <span class="badge badge-xs bg-[#19D6BF]"></span>
                        Direct
                    </div>
                    <div class="flex items-center gap-2">
                        <span class="badge badge-xs bg-[#A838FF]"></span>
                        Social
                    </div>
                    <div class="flex items-center gap-2">
                        <span class="badge badge-xs bg-[#3C37FF]"></span>
                        Search
                    </div>
                    <div class="flex items-center gap-2">
                        <span class="badge badge-xs bg-[#FFBD3C]"></span>
                        Email
                    </div>
                </div>
                <tc-pie class="h-32 w-32 shrink-0 [--shape-color-1:#A838FF] [--shape-color-2:#19D6BF] [--shape-color-3:#3C37FF] [--shape-color-4:#FFBD3C]" values="[35,68,22,16]" shape-size="30" shape-gap="6"></tc-pie>
            </div>
        </div>
    </section>
    <!-- /card -->
    <!-- card -->
    <section class="card col-span-12 bg-base-100 shadow-sm xl:col-span-4">
        <div class="card-body pb-0">
            <h2 class="card-title">19,000</h2>
            <p>Downloads</p>
        </div>
        <tc-line class="h-full w-full rounded-box [--area-opacity:.2] [--shape-color:#19D6BF]" values="[6,5,2,11,13,16,14,14,14,15,18,16,18,15,19,16,20,18,12,14]" min="0"></tc-line>
    </section>
    <!-- /card -->
    <!-- card -->
    <section class="card col-span-12 bg-base-100 shadow-sm xl:col-span-4">
        <div class="card-body pb-0">
            <h2 class="card-title">32,800</h2>
            <p>Unique visitors</p>
        </div>
        <tc-line class="h-full w-full rounded-box [--area-opacity:.2] [--shape-color:#A838FF]" values="[12,10,12,4,13,16,14,10,12,11,17,18,16,17,20,14,15,13,12,14]" min="0"></tc-line>
    </section>
<!-- /card --> {% endcomment %}
<!-- /content -->
{% endblock content_dashboard %}
