<!-- templates/job_list.html -->
{% extends "_dashboard_base.html" %}
<!-- Extend from a base template if you have one -->
{% block content_dashboard %}
    <h1>Job List</h1>
    <ul>
        {% for job in jobs %}
            <li>
                <h2>
                    <a href="{% url 'dashboard:job-detail' pk=job.pk %}">{{ job.title }}</a>
                </h2>
                <!-- Add more job details as needed -->
            </li>
        {% empty %}
            <li>No jobs found.</li>
        {% endfor %}
    </ul>
{% endblock content_dashboard %}
